label.bmi_result {
  font-size: 38px;
  font-weight: normal;
  background-color: rgba(0,0,0, 0.05);
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 1px;
  padding-top: 1px;
  min-width: 46px;
  opacity: 0.3;
  border: 1px solid transparent;
  transition: box-shadow 0.22s, border 0.22s;
}

label.bmi_result.small {
  font-size: 19px;
  border-radius: 5px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-top: 1px;
  min-width: 44px;
  opacity: 1;
}


label.bmi_result.underweight {
  opacity: 1;
  border: 1px solid #7c7cfc;
  box-shadow: 0px 0px 45px rgba(124,124,252, 0.4), 0px 0px 45px rgba(124,124,252, 0.8);
}

label.bmi_result.small.underweight {
  box-shadow: 0px 0px 18px rgba(124,124,252, 0.8);
}

label.bmi_result.normal_weight {
  opacity: 1;
  border: 1px solid #00aa00;
  box-shadow: 0px 0px 45px rgba(0,170,0, 0.4), 0px 0px 45px rgba(0,170,0, 0.8);
}

label.bmi_result.small.normal_weight {
  box-shadow: 0px 0px 18px rgba(0,170,0, 0.8);
}

label.bmi_result.overweight {
  opacity: 1;
  border: 1px solid #e7b632;
  box-shadow: 0px 0px 45px rgba(231,182,50, 0.4), 0px 0px 45px rgba(231,182,50, 0.8);
}

label.bmi_result.small.overweight {
  box-shadow: 0px 0px 18px rgba(231,182,50, 0.8);
}

label.bmi_result.overweight1 {
  opacity: 1;
  border: 1px solid #ff8b66;
  box-shadow: 0px 0px 45px rgba(255,139,102, 0.4), 0px 0px 45px rgba(255,139,102, 0.8);
}

label.bmi_result.small.overweight1 {
  box-shadow: 0px 0px 18px rgba(255,139,102, 0.8);
}

label.bmi_result.overweight2 {
  opacity: 1;
  border: 1px solid #ee6080;
  box-shadow: 0px 0px 45px rgba(238,96,128, 0.4), 0px 0px 45px rgba(238,96,128, 0.8);
}

label.bmi_result.small.overweight2 {
  box-shadow: 0px 0px 18px rgba(238,96,128, 0.8);
}

label.bmi_result.overweight3 {
  opacity: 1;
  border: 1px solid #dd2599;
  box-shadow: 0px 0px 45px rgba(221,37,153, 0.4), 0px 0px 45px rgba(221,37,153, 0.8);
}

label.bmi_result.small.overweight3 {
  box-shadow: 0px 0px 18px rgba(221,37,153, 0.8);
}


box.bmi_scale {
  border-radius: 6px;
  line-height: 0;
  font-size: 0px;
}

box.bmi_scale box.bmi_scale_underweight {
  background-color: #7c7cfc;
  border-radius: 6px 0px 0px 6px;
}

box.bmi_scale box.bmi_scale_normal_weight {
  background-color: #00aa00;
}

box.bmi_scale_numbers box.bmi_scale_normal_weight {
  color: #00aa00;
}

box.bmi_scale box.bmi_scale_overweight {
  background-color: #e7b632;
}

box.bmi_scale_numbers box.bmi_scale_overweight {
  color: #e7b632;
}

box.bmi_scale box.bmi_scale_overweight1 {
  background-color: #ff8b66;
}

box.bmi_scale_numbers box.bmi_scale_overweight1 {
  color: #ff8b66;
}

box.bmi_scale box.bmi_scale_overweight2 {
  background-color: #ee6080;
}

box.bmi_scale_numbers box.bmi_scale_overweight2 {
  color: #ee6080;
}

box.bmi_scale box.bmi_scale_overweight3 {
  background-color: #dd2599;
  border-radius: 0px 6px 6px 0px;
}

box.bmi_scale_numbers box.bmi_scale_overweight3 {
  color: #dd2599;
}


label.bmi_result_description span {
  font-weight: normal;
}


/* --- Toolbar ---*/

button.opaque.image-button.pill {
  padding-left: 14px;
  padding-right: 14px;
}

button.text-button.pill {
  padding-left: 20px;
  padding-right: 20px;
}

box.history_content > label.title-3,
box.history_content > label.title-4 {
  font-weight: normal;
}

button.opaque.image-button.pill.save_button {
  border-radius: 26px 12px 12px 26px;
}

button.opaque.image-button.pill.history_button {
  border-radius: 12px 26px 26px 12px;
}
